.bodymovinanim {
	width: 36%;
	margin: 0 auto;
	fill: white;
}

.result {
	margin-top: 2%;
}

.category {
	opacity: 50%;
	font-size: 12pt;
	letter-spacing: 1.5px;
	margin-bottom: 2%;
}

.results p {
	color: white;
}

.results {
	position: fixed;
	top: 38%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	text-align: center;
	opacity: 0%;
}


.blue-bg {
	background-color: #054F5A;
	transition: all 1s;
	transition-delay: .5s;
}

.orange-bg {
	background-color: #C36A3F;
	transition: all 1s;
	transition-delay: .5s;
}

.black-bg {
	background-color: #2C2F30;
	transition: all 1s;
	transition-delay: .5s;
}

.pink-bg {
	background-color: #D39079;
	transition: all 1s;
	transition-delay: .5s;
}

.brown-bg {
	background-color: #4B2D2B;
	transition: all 1s;
	transition-delay: .5s;
}

.green-bg {
	background-color: #234F38;
	transition: all 1s;
	transition-delay: .5s;
}

.yellow-bg {
	background-color: #D08C21;
	transition: all 1s;
	transition-delay: .5s;
}

.intro {
	max-height: 55vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	opacity: 100%;
}

.get-results {
	max-height: 0vw;
	transition: all 1s;
	opacity: 0%;
}

.home-intro {
	display: none;
}

 u {
    text-decoration: none;
    border-bottom: 7px solid #3B4749;
    padding-bottom: 0%;
    font-family: 'DM Mono Lite', monospace;
	font-size: 80pt;
	font-weight: 100;
	margin-bottom: -5px !important;
	color:#3B4749;
  }​

h1 {
	font-family: 'DM Mono Lite', monospace;
	font-size: 80pt;
	font-weight: 100;
	margin-bottom: 10%;
	margin-top: 0;
	color:#3B4749;
}

h2 {
	font-family: 'DM Mono Lite', monospace;
	font-size: 40pt;
	font-weight: 100;
	color:#3B4749;
}

button {
	font-family: 'DM Mono Lite', monospace;
	font-size: 20pt;
	font-weight: 400;
	color:#3B4749;
	border-radius: 10px;
	border:0px black solid;
	padding:1% 1.5%;
	background-color:#3B4749;
	color: #F5F5EC;
}

p {
	font-family: 'DM Mono', monospace;
	font-size: 20pt;
	font-weight: 400;
	color:#3B4749;
}

.home-description{
	width: 50%;
}

@font-face {
  font-family: "DM Mono";
  src: url("fonts/DMMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DM Mono Lite";
  src: url("fonts/DMMono-light.ttf") format("truetype");
}


body {
	padding: 6% 6% 6% 6%;
	background-color:#F5F5EC;
}