.break {
	padding-bottom: 5%;
}

canvas {
    display: block;
}
 #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5ec;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
 .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
 .js-count-particles {
    font-size: 1.1em;
}
 #stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
 #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
 .count-particles {
    border-radius: 0 0 3px 3px;
}

.bodymovinanim {
	width: 36%;
	margin: 0 auto;
	fill: white;
}

.result {
	margin-top: 2%;
}

.category {
	opacity: 50%;
	font-size: 12pt;
	letter-spacing: 1.5px;
	margin-bottom: 2%;
}

.results p {
	color: white;
}

.results {
	position: fixed;
	top: 34%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	text-align: center;
	opacity: 0%;
}


.blue-bg {
	background-color: #054F5A;
	transition: all 1s;
	transition-delay: .5s;
}

.orange-bg {
	background-color: #C36A3F;
	transition: all 1s;
	transition-delay: .5s;
}

.black-bg {
	background-color: #2C2F30;
	transition: all 1s;
	transition-delay: .5s;
}

.pink-bg {
	background-color: #D39079;
	transition: all 1s;
	transition-delay: .5s;
}

.brown-bg {
	background-color: #4B2D2B;
	transition: all 1s;
	transition-delay: .5s;
}

.green-bg {
	background-color: #234F38;
	transition: all 1s;
	transition-delay: .5s;
}

.yellow-bg {
	background-color: #D08C21;
	transition: all 1s;
	transition-delay: .5s;
}

.intro {
	max-height: 55vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	opacity: 100%;
	padding: 6%;
}




.get-results {
	max-height: 0vw;
	transition: all 1s;
	opacity: 0%;
}

.home-intro {
	display: none;
}

 u {
    text-decoration: none;
    border-bottom: 7px solid #3B4749;
    padding-bottom: 0%;
    font-family: 'DM Mono', monospace;
	font-size: 80pt;
	font-weight: 100;
	margin-bottom: -5px !important;
	color:#3B4749;
  }​

h1 {
	font-family: 'DM Mono', monospace;
	font-size: 80pt;
	font-weight: 100;
	margin-bottom: 10%;
	margin-top: 0;
	color:#3B4749;
}

h2 {
	font-family: 'DM Mono', monospace;
	font-size: 40pt;
	font-weight: 100;
	color:#3B4749;
}

button {
	font-family: 'DM Mono', monospace;
	font-size: 20pt;
	font-weight: 400;
	color:#3B4749;
	border-radius: 10px;
	border:0px black solid;
	padding:1% 1.5%;
	background-color:#3B4749;
	color: #F5F5EC;
}

p {
	font-family: 'DM Mono', monospace;
	font-size: 20pt;
	font-weight: 400;
	color:#3B4749;
}

.home-description{
	width: 50%;
}

@font-face {
  font-family: "DM Mono";
  src: url("fonts/DMMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DM Mono";
  src: url("fonts/DMMono-light.ttf") format("truetype");
}


body {
	background-color:#F5F5EC;
}

@media screen and (max-width: 600px) {
	.intro {
		max-height: 205vw !important;
	}
}

@media screen and (max-width: 600px) {
	.roll {
		padding:3% 3.5%;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 30pt;
	}
}

@media screen and (max-width: 600px) {
	h2 {
		font-size: 15pt;
	}
}

@media screen and (max-width: 600px) {
	.results {
		margin-left: -205px;
	}
}